In [1]:
#3) Find the sum of the values in s for every Wednesday

In [2]:
import numpy as np
import pandas as pd
from pandas.tseries.offsets import BDay
dt = pd.date_range(start='1/1/2015',end='12/31/2015', freq=BDay(), tz='UTC')
dt = pd.to_datetime(dt.date)
s = pd.Series(np.random.rand(len(dt)),index=dt)
df = pd.DataFrame({'Day':dt.weekday_name, 'Month':dt.month_name(), 'Val':s},index=dt)
df.head(10)

                  Day    Month       Val
2015-01-01   Thursday  January  0.344513
2015-01-02     Friday  January  0.234405
2015-01-05     Monday  January  0.068998
2015-01-06    Tuesday  January  0.975563
2015-01-07  Wednesday  January  0.385804
2015-01-08   Thursday  January  0.591116
2015-01-09     Friday  January  0.270118
2015-01-12     Monday  January  0.024158
2015-01-13    Tuesday  January  0.760340
2015-01-14  Wednesday  January  0.015926

In [3]:
byday = df.groupby('Day', sort=False)
byday.sum()

                 Val
Day
Thursday   24.871723
Friday     27.762874
Monday     27.269341
Tuesday    26.243774
Wednesday  24.879591

In [4]:
by_Wednesday = byday.get_group('Wednesday').sum()

In [6]:
print('The sum of values in s for every Wednesday is ',by_Wednesday.Val)

The sum of values in s for every Wednesday is  24.879590709580068